.dropdown {
    margin-bottom: 10px;
    
    .btn-primary:hover {
        color: #f0f0f0;
        background-color: #f0f0f0;
        border-color: #f0f0f0;
    }
    .btn-primary.dropdown-toggle {
        color: #f0f0f0 !important;
        background-color: transparent !important;
        border-color: transparent !important;
    }
    .dropdown-toggle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        border: transparent;
        color: black;
        .dropdown-content {
            display: flex;
            align-items: center;

            .dropdown-text {
                margin-left: 20px;
            }
        }
        &:after {
            color: #000;
        }
    }

    .dropdown-menu {
        width: 100%;
    }
    svg {
        color: #4c57b8;
    }
}