.upload-container {
    padding: 10px 30px;

    .top-content {
        .top-text1 {
            margin-top: 10px;
            font-weight: bold;
            font-size: medium;
            color: $gray;
        }
        .top-text2 {
            margin: 10px 0;
            color: $light-gray;
        }
    }
    .upload-pdf-container {
        background: #fff;

        .card {
            padding: 0 40px;

            .drop-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 40px 0 20px;

                .form-upload {
                    border: 2px solid #e0dfdf;
                    cursor: pointer;
                    height: 250px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    width: 100%;
                    .form-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .p-upload {
                            color: $light-gray;
                            margin-top: 5px;
                            text-align: center;
                        }
                    }
                }

            }

        }

        .upload-pdf-bottom {
            display: flex;
            justify-content: space-between;
            margin: 10px 0 40px;

            .bottom-text {
                color: $light-gray;
            }
            @media (max-width: 630px) {
                .bottom-text {
                    margin-bottom: 10px;
                }
                flex-direction: column;
            }
        }
    }

    .progress-container {
        margin: 40px 0;
        .progress-content {
            display: flex;
            .progress-text {
                text-align: end;
                font-weight: bold;
                color: #5e5e5e;
                white-space: nowrap;
            }
         
            @media (max-width: 400px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    .next-content {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }
}

.button {
    background: #0847a6;
    color: $white;
    padding: 13px 40px;
    border-radius: 7px;
    font-size: 13px;
    transition: background .3s ease-in-out;
    cursor: pointer;
    &:hover {
        background: #0c5dd6;
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.pg1 {
    background: #0156b3 !important;   
}
.pg2 {
    background-color: #5b626b !important;
}